<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{ employee-portal-head }"></head>

<body class="csap-scrollable theme-dark theme-blue">

	<header>Spring Data Jpa Example</header>

	<article class=content>

		<table
			id="SpringMvc"
			class="csap">
			<thead>

				<tr>
					<th>
						Demos
					</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td>
						<a
							class="csap-link"
							th:href="@{/}">employee-portal</a>
							
					</td>
					<td>html</td>
					<td>
						reload portal

					</td>
				</tr>

				<tr>
					<td>
						<a
							id=employee-count-link
							class="csap-link"
							th:href="@{/employee/count}">employee count</a>
							
					</td>
					<td>html</td>
					<td>
						<div class=csap-blue>
							<label class=csap-form-inline style="font-size: 2em">
								<span>Total Employees in DB:</span>
								
								<input
									id=employee-count
									value="-1"/>
				
							</label>
						</div>

					</td>
				</tr>

				<tr>
					<td>
						<label class=csap>
							<select id=number-of-employees>
								<option value="0" >Add Test Data ...</option>
								<option>500</option>
								<option>1000</option>
								<option>5</option>
							</select> 
						</label>
						<br/><br/>
						<label class=csap>
							<button id=clear-db class=csap-button>Wipe All Data</button>
						</label>
							
					</td>
					<td>html</td>
					<td>
					
						add / remove test data

					</td>
				</tr>

				<tr>
					<td>
						<a
							id=show-all-employees
							class="csap-link"
							th:href="@{/employee/listing}">show all employees</a>
							
					</td>
					<td>html</td>
					<td>
						show all employees

					</td>
				</tr>

				<tr>
					<td>
						<a
							id=show-all-birthdays
							class="csap-link"
							th:href="@{/birthMonthEmployees}">show all birthdays in current month</a>
							
					</td>
					<td>html</td>
					<td>
						show all birthdays in month

					</td>
				</tr>

				<tr>
					<td>
						<label class=csap-form >
							<span>page size:</span>
							
							<input
								id=page-size
								value="5"/>
			
						</label>
						<label class=csap-form >
							<span>page number:</span>
							
							<input
								id=page-number
								value="0"/>
			
						</label>
						
						
						<a
							id=show-all-birthdays-pageable
							class="csap-link"
							th:href="@{/birthdayEmployeesPageable}">show paginated birthdays</a>
							
					</td>
					<td>html</td>
					<td>
						birthdays in current month, with pagination to enable traversal of large data sets
						<div class=csap-red>
						server side validation check: page size limit is 100, anything else will be denied
						</div>

					</td>
				</tr>



			</tbody>

		</table>
		
		
		<table
			id="error cases"
			class="csap">
			<thead>

				<tr>
					<th>
						Common Errors
					</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td>
						<a
							class="csap-link"
							href="/date?pageSize=2">REST Parameter Passes</a>
						<br/>	
						<a
							class="csap-link"
							href="/date?pageSize=3">REST Parameter Fails</a>
					</td>
					<td>text</td>
					<td>Parameter validation</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="testException">testException</a>
					</td>
					<td>text</td>
					<td>Spring @RestController Exception Advice</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="testNullPointer">testNullPointer</a>
					</td>
					<td>text</td>
					<td>Spring @Controller Null Pointer Exception Advice</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="missingTemplate">missingTemplate</a>
					</td>
					<td>text</td>
					<td>Missing thymeleaf template</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="malformedTemplate">malformedTemplate</a>
					</td>
					<td>text</td>
					<td>malformedTemplate thymeleaf template. ALL elements must be terminated</td>
				</tr>



			</tbody>

		</table>



	</article>

</body>

</html>
