<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">


<head>
<title>Employee Portal</title>

<!--
    <script th:src="@{/js/simple.js}"></script>
    -->
<style>

article.content {
	padding: 2em;
}

body table.csap {
	width: 100%;
	margin-bottom: 3em;
}


table td:nth-child(1) {
	width: 15em;
}

table td:nth-child(2) {
	width: 5em;
}

header .noteAlt {
	font-size: 0.7em;
	margin: 0;
	padding: 3px;
}

div.title {
	width: 20em;
	color: black;
}
</style>

<script th:inline="javaScript">


const BASE_URL = [[@{ / }]];

</script>

<script th:replace="~{ fragments/demo-includes :: pageContent }"></script>

<script
	th:attr="data-main=@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/spring-data-demo/modules/demo-main.js')} }"
	th:src="@{/webjars/requirejs/2.1.20/require.min.js}"></script>


	

</head>

<body class="csap-scrollable theme-dark theme-blue">

	<header>Employee Portal</header>

	<article class=content>

		<table
			id="SpringMvc"
			class="csap">
			<thead>

				<tr>
					<th>
						Demos
					</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td>
						<a
							class="csap-link"
							th:href="@{/}">employee-portal</a>
							
					</td>
					<td>html</td>
					<td>
						reload portal

					</td>
				</tr>

				<tr>
					<td>
						<label class=csap> Add: 
							<select id=number-of-employees>
								<option value="0" >Add Test Data ...</option>
								<option>500</option>
								<option>1000</option>
								<option>5</option>
							</select> 
						</label>
							
					</td>
					<td>html</td>
					<td>
						add test data

					</td>
				</tr>

				<tr>
					<td>
						<a
							id=show-all-employees
							class="csap-link"
							th:href="@{/employees}">show all employees</a>
							
					</td>
					<td>html</td>
					<td>
						show all employees

					</td>
				</tr>

				<tr>
					<td>
						<a
							id=show-all-birthdays
							class="csap-link"
							th:href="@{/birthMonthEmployees}">show all birthdays in current month</a>
							
					</td>
					<td>html</td>
					<td>
						show all birthdays in month

					</td>
				</tr>

				<tr>
					<td>
						<label class=csap-form >
							<span>page size:</span>
							
							<input
								id=page-size
								value="5"/>
			
						</label>
						<label class=csap-form >
							<span>page number:</span>
							
							<input
								id=page-number
								value="0"/>
			
						</label>
						
						
						<a
							id=show-all-birthdays-pageable
							class="csap-link"
							th:href="@{/birthdayEmployeesPageable}">show paginated birthdays</a>
							
					</td>
					<td>html</td>
					<td>
						birthdays in current month, with pagination to enable traversal of large data sets
						<div class=csap-red>
						server side validation check: page size limit is 100, anything else will be denied
						</div>

					</td>
				</tr>



			</tbody>

		</table>
		
		
		<table
			id="error cases"
			class="csap">
			<thead>

				<tr>
					<th>
						Common Errors
					</th>
					<th>returns</th>
					<th>Description</th>
				</tr>
			</thead>

			<tbody>

				<tr>
					<td>
						<a
							class="csap-link"
							href="missingTemplate">missingTemplate</a>
					</td>
					<td>text</td>
					<td>Missing thymeleaf template</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="malformedTemplate">malformedTemplate</a>
					</td>
					<td>text</td>
					<td>malformedTemplate thymeleaf template. ALL elements must be terminated</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="testException">testException</a>
					</td>
					<td>text</td>
					<td>Spring @RestController Exception Advice</td>
				</tr>

				<tr>
					<td>
						<a
							class="csap-link"
							href="testNullPointer">testNullPointer</a>
					</td>
					<td>text</td>
					<td>Spring @Controller Null Pointer Exception Advice</td>
				</tr>



			</tbody>

		</table>



	</article>

</body>

</html>
