


div.cache-blow {
	opacity: 0.1 ;
}



html,
body,
.csap-scrollable {
	height: 100%;
}

body {
	margin: 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 12pt;
	
	background-color: gray;
}


