
div.cache-blow {
	opacity: 0.1 ;
}


#tabs {
	visibility: hidden;
}

#show-health-issues {
	background-image: url('../../../images/info.png');
	background-size: 14px 14px;
	padding-left: 14px;
}

#simonTab button.id-launch, #simonTab button.plot-launch, #simonTab button.close-panel
	{
	margin: 0;
	margin-right: 1em;
	height: 16px;
	width: 16px;
	padding: 0;
}

#simonTab button.plot-launch img, #simonTab button.close-panel img {
	vertical-align: top;
}

#simonTab button.id-launch img, #simonTab button.plot-launch img {
	width: 23px;
	height: 23px;
	position: relative;
	top: -4px;
	left: -5px;
}

#simonTab button.id-launch {
	margin-left: 1em;
}

#metricTable tbody tr button {
	visibility: hidden	;
}

#metricTable tbody tr:hover button {
	visibility: visible	;
}

div.graph-selections input {
	display: inline;
	margin-right: 5px;
	margin-left: 2em;
}

div.graph-selections label {
	font-weight: bold;
	white-space: nowrap;
	font-size: 10pt;
	vertical-align: bottom;
	color: black; 
}

div.meter-panel {
	background-color: white;
	border: var(--theme-border);
	border-radius: var(--border-radius-small);
	margin-top: 1em;
	padding: 0px;
}

div.graph-controls {
	min-height: 1.8em;
	background: var(--panel-header-bg);
	color: var(--panel-header-color);
	border-top-right-radius: var(--border-radius-small);
	border-top-left-radius: var(--border-radius-small);
	vertical-align: middle;
}

span.graph-title {
	margin-left: 3em;
	font-weight: bold;
	position: relative;
	top: 5px;
}

#simonTab button.close-panel {
	float: right;
	margin-top: 2px;
}

#meter-plots {
	display: none;
	margin-bottom: 2em;
}

#meter-plots svg.main-svggg {
	position: relative;
}

#meter-plots div.meter-graph {
	max-height: 20em;
	padding: 3px;
}

#meter-plot-template {
	display: none;
}

img.loadMetric {
	cursor: pointer;
	width: 12px;
	margin-left: 10px;
	vertical-align: middle;
}

span.meter-tag {
	float: right;
}

#uptime {
	font-size: 9pt;
	margin-left: 2em
}

#uptime span {
	font-style: italic;
	margin-left: 2px;
}

div.quote {
	margin-top: 5px;
	margin-bottom: 0px;
}

.quote .tag {
	border: 1px solid black;
	padding: 2px;
	margin-left: 5px;
}

.ui-widget input {
	vertical-align: middle;
}

label {
	font-weight: bold;
	white-space: nowrap;
}

table {
	margin-bottom: 5em;
}

table.simple td.num {
	text-align: right;
}

#metricTable tbody {
	font-size: 10pt;
	font-family: Menlo, Consolas, Monaco, monospace;
}

#metricTable td {
	text-align: right;
	min-width: 6em;
}

#metricTable td:first-child {
	text-align: left;
	font-weight: bold;
}

#metricTable td span {
	font-style: italic;
	padding-left: 4px;
	min-width: 2em;
	display: inline-block;
	text-align: left;
}

#metricTable td span.padZero {
	padding-right: 0.6em;
	font-style: normal;
	min-width: 2em;
}

#health td div {
	float: right;
	font-style: italic;
	font-size: 8pt;
}

#health td div span {
	font-style: italic;
	font-size: 8pt;
	color: red;
}

#health, #metricTable {
	width: auto;
}

#numberHoursSelect {
	margin-right: 3px;
}

#config {
	margin-left: 2em;
	font-size: 10pt;
}

div.headers {
	margin-top: 2em;
	font-weight: bold;
}

td {
	word-break: break-all;
	word-wrap: break-word;
}

#simonTab button {
	margin-left: 2em;
	margin-right: 2em;
}

#meter-count {
	position: absolute;
	top: -1.5em;
	right: 1em;
	font-style: italic;
	font-weight: normal;
	font-size: 9pt;
}

#meter-view {
	display: inline;
}

#meter-filters {
	position: absolute;
	left: 7em;
	top: 3px;
}

#metricFilter {
	
}

#meter-tag-filter {
	font-size: 11px;
	padding: 0;
	padding-left: 0px;
	padding-left: 2px;
	width: 8em;
	display: none;
}

div.news {
	font-size: 10pt;
}

div.infoBlock {
	font-weight: normal;
}

#firstTime, #lastTime, #maxTime {
	margin-right: 2em;
	font-weight: bold;
}

.name {
	font-weight: bold;
	font-size: 14pt;
	margin-right: 2em;
}

#metricItems {
	margin-left: 0;
}

input.alertEnabled {
	margin: 0;
	vertical-align: middle;
	margin-right: 4px;
}

div.modBy {
	padding-left: 3em;
	font-style: italic;
}

div.loadingPanel {
	display: inline-block;
	margin: 0;
	padding: 0;
	background-position: 0, 0;
	height: 15px;
	width: 15px;
	background-size: 15px 15px;
	vertical-align: middle;
}