<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent" th:remove="tag">

<!-- requirejs can have side effects -->
<!--  <script th:src="@{/webjars/requirejs/2.1.20/require.min.js}"  ></script>-->

<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>

<!-- ensure no timeouts are happening by trying jquery again -->
<script th:inline="javascript">
const fallBackRoot = [[@{ /webjars/jquery/3.5.1/jquery.min.js }]]; 
window.jQuery || document.write(`<script src="${fallBackRoot}"><\/script>`)
</script>



<!-- -->
<link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}" rel="stylesheet" type="text/css" media="screen" />
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>


<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/csapLibs/alertifyjs/css/alertify.min.css')} }"
	rel="stylesheet" type="text/css" media="screen" />
<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/csapLibs/alertifyjs/css/themes/semantic.min.css')} }"
	rel="stylesheet" type="text/css" media="screen" />
<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/csap-alertify-theme.css')} }" rel="stylesheet"
	type="text/css" media="screen" />
	
	
<!--  seems to be missing quite a bit, add the follow to get buttons, etc 
<link  th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/csap.alertify.css')} }" rel="stylesheet" type="text/css" media="screen" />-->
<script th:src="@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/csapLibs/alertifyjs/alertify.min.js')} }"></script>

<!--  last: use csap styles to overwrite any of the above if needed -->
<link th:href="@{ ${@mvcResourceUrlProvider.getForLookupPath('/css/csap-2.css')} }" rel="stylesheet" type="text/css"
	media="screen" />


<script th:src="@{ ${@mvcResourceUrlProvider.getForLookupPath('/js/csapLibs/csap-common.js')} }"></script>


</head>
</html>
