<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent" th:remove="tag" >

<script th:src="@{/webjars/flot/4.2.2/dist/es5/jquery.flot.js}" ></script> 
<script th:src="@{/webjars/flot/4.2.2/lib/jquery.event.drag.js}" ></script> 
<script th:src="@{/webjars/flot/4.2.2/lib/jquery.mousewheel.js}" ></script>
<!-- <script th:src="@{/webjars/flot/4.2.1/source/jquery.flot.stack.js}" ></script> 
<script th:src="@{/webjars/flot/4.2.1/source/jquery.flot.time.js}" ></script> 
<script th:src="@{/webjars/flot/4.2.1/source/jquery.flot.navigate.js}" ></script> 
<script th:src="@{/webjars/flot/4.2.1/source/jquery.flot.selection.js}" ></script>  -->

<!-- <script th:src="@{/webjars/flot/0.8.3/jquery.flot.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.stack.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.time.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.navigate.min.js}" ></script> 
<script th:src="@{/webjars/flot/0.8.3/jquery.flot.selection.min.js}" ></script>  -->

</head>