<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent" th:remove="tag" >

<link th:href="@{/webjars/jqplot/1.0.8r1250/jquery.jqplot.min.css}" rel="stylesheet" type="text/css" media="screen" />
<script th:src="@{/webjars/jqplot/1.0.8r1250/jquery.jqplot.min.js}" ></script> 


<!--  more plugins available based on need -->
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.categoryAxisRenderer.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.dateAxisRenderer.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.categoryAxisRenderer.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.highlighter.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.logAxisRenderer.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.barRenderer.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.meterGaugeRenderer.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.canvasOverlay.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.pointLabels.min.js}" ></script>
<script th:src="@{/webjars/jqplot/1.0.8r1250/plugins/jqplot.cursor.min.js}" ></script>

</head>
</html>
