
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">


<head th:fragment="pageContent" th:remove="tag" >




<!-- https://github.com/mar10/fancytree/releases -->
<link th:href="@{/webjars/fancytree/2.30.0/dist/skin-win7/ui.fancytree.min.css}" rel="stylesheet" type="text/css" />
<script th:src="@{/webjars/fancytree/2.30.0/dist/jquery.fancytree-all-deps.js}"></script>


<script th:src="@{/webjars/datatables/1.10.21/js/jquery.dataTables.min.js}" ></script>




</head>

</html>